LNEC_Adapta_Driver/
LNEC_Adapta_Driver.rar
minimesa_data/
Report/LNEC_Test&MeasurementDay25112025.pptx
C:\Users\afons\OneDrive - Universidade de Lisboa\Controlo de Plataforma Sismica\Report\apresentação Novembro 25\old\templatePresentation_tNov2025.pptx