LNEC_Adapta_Driver/
LNEC_Adapta_Driver.rar
minimesa_data/
Report/LNEC_Test&MeasurementDay25112025.pptx
Report/Apresentação_3Dezembro2025.pptx
Report/apresentação\ Novembro\ 25/
Report/apresentação\ Junho\ 2025/

# LaTeX build files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk
Report/LaTeX_Controlo_de_Plataforma_Sismica/main.bbl
Report/LaTeX_Controlo_de_Plataforma_Sismica/main.synctex.gz

Report/LaTeX_Controlo_de_Plataforma_Sismica/emails_section.pdf
Bibliografia/Abril 2026/transfer_384176_files_d1587ece/1997_PassEnergyDissSystStructEng.pdf
Bibliografia/Abril 2026/20240228_Visita_NESDE_UAlgarveECivil_2.pptx