LNEC_Adapta_Driver/
LNEC_Adapta_Driver.rar
minimesa_data/
Report/LNEC_Test&MeasurementDay25112025.pptx
Report/LaTeX_Controlo_de_Plataforma_Sísmica/main.bbl
Report/LaTeX_Controlo_de_Plataforma_Sísmica/main.synctex.gz
Report/apresentação Novembro 25/
Report/apresentação Junho 2025/
Report/Apresentação_3Dezembro2025.pptx
Report/apresentação Novembro 25/presentation_2025_Nov_21_0813_english_diagrams.pptx